*{
    padding: 0px;
}

body{
    background-color: #000000d6;
}

header{
    color: #fff;
    text-align: center;
    margin: 20px;
    font-size: 50px;
}

.conteudo{
    display: flex;
    width: 270px;
    background-color: #fff;
    height: 400px;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    flex-direction: column;

}

.adicionar{
    width: 500px;
    height: 70px;
    margin-left: 50px;
}

.adicionar > button{
    width: 167px;
    border: none;
    border-radius: 10px;
    height: 25px;
    color: #fff;
    background-color: #000000;
    margin-top: 10px;
    
}

#botaoexibir{
    height: 25px;
    width: 167px;
    margin-left: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: black;
    margin-bottom: 20px

    
}

#botaoremover{
    height: 25px;
    width: 167px;
    margin-left: 50px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: black;
    margin-bottom: 20px

}

#resposta > p{
    text-align: center;
    font-size: 20px;
    margin: 5px;

}

#resposta > input{
    width: 168px;
    margin-left: 50px;
}

#resposta > button{
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 70px;
    margin-left: 100px;
    color: #fff;
    background-color: #000000;
}
