body{
    background-color: hsl(192, 100%, 33%);
}

p{
    color: #D9D7D7;
    font-size: 18px;
}

div{
    background-color: #404040;
}

.exlampadas{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.exlampadas > img{
    width: 120px;
    height: 120px;
}

.exlampadas > button{
    width: 150px;
    border-radius: 20px;
}